<%- include("partials/header.ejs") %>

<% if(locals.blogs && blogs.length !== 0){ %>
    <% for(let i = 0; i < blogs.length; i++) {%>
        <div class="card">
            <form action="/view" method="post">
                <button class="view-btn" type="submit" name="index" value="<%= i %>">
                    <h1 class="heading"><%= blogs[i].title %></h1>
                </button>
            </form>
            <code class="date"><%= blogs[i].date %></code>
            <code class="auther"><i><%= blogs[i].author %></i></code>
            <div class="detail">
                <% let detail = blogs[i].detail; %>
                <% if(detail.length > 100){ %>
                    <%= detail.slice(0, 500); %> ...
                <% } else{ %>
                    <%= detail %>
                <% } %> 
            </div>
        </div>
    <% } %>
<% } else { %>
        <h1 class="heading">Create new Blogs to view here 😉</h1>
<% } %>

<%- include("partials/footer.ejs") %>