<%- include("partials/header.ejs") %>
        <div class="card">
            <h1 class="title"><%= post.postTitle %></h1>
            <code class="date"><%= post.date %></code>
            <code class="auther"><i><%= post.author %></i></code>
            <div class="detail"><%= post.postDetail %></div>
            <div class="edit-del-btn-container">
                <form action="/edit" method="post">
                    <button class="edit-btn" name="id" value="<%= post._id %>">Edit</button>
                </form>
                <form action="/delete" method="post">
                    <button class="del-btn" name="id" value="<%= post._id %>">Delete</button>
                </form>
            </div>
        </div>

<%- include("partials/footer.ejs") %>