<%- include("partials/header.ejs") %>

<div class="card">
    <h1 class="heading"><%= blog.title %></h1>
    <code class="date"><%= blog.date %></code>
    <code class="auther"><i><%= blog.author %></i></code>
    <div class="detail"><%= blog.detail %></div>
    <div class="edit-del-btn-container">
        <form action="/edit" method="post">
            <button class="edit-btn" name="index" value="<%= index %>">Edit</button>
        </form>
        <form action="/delete" method="post">
            <button class="del-btn" name="index" value="<%= index %>">Delete</button>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %>